
/* ensure padding and border are included in the total width and height
of the elements */

* {

    box-sizing: border-box;
}

.full {
  width: 100%;
}

/* we make one class for each of 12 columns, class="col-" */
.col-1 {width: 8.33%;}
.col-2 {
    width: 16.66%;
    display: inline-block;}
.col-3 {
    width: 25%;
    display: inline-block;

    ;}
.col-4 {width: 33.33%;}
.col-5 {
    width: 41.66%;
 /*   display: inline-block;*/
}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {
    width: 75%;
    display: inline-block;
}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}



/* all these columns should be floating to left and padding of 15px */

[class*='col-'] {
    display:inline-block;
   
}


.grid:after {
    content: "";
    clear: both;
    display: block;
}


/* When the screen (browser window) gets smaller than 768px, 
each column should have a width of 100%: */

@media only screen and (max-width: 1300px) {
    [class*='form-']{
        width:100%;
    }

}

@media only screen and (max-width: 960px) {

    input[type=text], input[type=email]{
        width:100%;
    }
 
}


/*logo disappears when text doesn't have enough space to fit in one line*/
@media only screen and (max-width: 810px) {
    #logo{
        display:none; 
        }
    .nav-main
    {
        width:100%;
        font-size: .7em;
    }

        .center{
        width: 100%;
    }

}



@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }


    #header {
        padding:0;
    }

    .new-arrivals {
        margin: 0 0 6.5em 0 ;
    }

    .purchase a {
        font-size:1em;
        width:100%;
    }

    .purchase h3{
    padding-top:0;
    }    

    .details a {
    font-size:1em;
    width:100%;
    }

    .details h3{
    padding-top:0;
    }    

    .review-submit-button{
        font-size:1em;
    }

    .description{
        text-align: center;
        padding-left:0;
    }
}


fieldset {
    padding: 10px;
}

@media screen and (max-width: 500px) {


    .content{
    font-size: .8em;
    padding-bottom: 2em;
    }

    #page{
      font-size: 1em; 
      width:100%; 
      /*padding-left: 1em;*/
    }

    #welcome{
        /*font-size: .8em; */

      width:100%; 
      /*padding-left: 1em; */
    }

    h2{
        font-size: 2.5em;
    }

    h1 {
        font-size: 2.5em;
    }
    .purchase h3{
    padding-top:0;
    }



    ul{
        padding:0;
    }

    .form-5of10{
        padding-top:1em;

    }

    .review-submit-button{

         margin-top:1em;
         margin-bottom: 1em;
    }

}

@media screen and (max-width: 300px) {



}

@media screen and (min-width: 1600px) {

    .bg-index{
    background-size:cover;
    }

}


