
/* ensure padding and border are included in the total width and height
of the elements */

* {

	box-sizing: border-box;
}

.full {
  width: 100%;
}

/* we make one class for each of 12 columns, class="col-" */
.col-1 {width: 8.33%;}
.col-2 {
    width: 16.66%;
    display: inline-block;}
.col-3 {
	width: 25%;
	display: inline-block;

	;}
.col-4 {width: 33.33%;}
.col-5 {
    width: 41.66%;
 /*   display: inline-block;*/
}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {
    width: 75%;
    display: inline-block;
}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}



/* all these columns should be floating to left and padding of 15px */

/*[class*="col-"] {
    float: left;
    padding: 15px;
   
}*/

.col:after {
    content: "";
    clear: both;
    display: block;
}


/* When the screen (browser window) gets smaller than 768px, 
each column should have a width of 100%: */

@media only screen and (max-width: 960px) {

    input[type=text], input[type=email]{
        width:100%;
    }
}



@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
/*    .content{
    	padding-left: 30%;
    }*/
    .nav-main{
        font-size: 2.3vw;
    }
/*    .content{
        font-size: 3vw;    
    }*/    

    .purchase a {
        font-size:1em;
        width:100%;
    }
    .new-arrivals {
        text-align:center;
        margin:auto;
        padding:0;
    }

    .purchase h3{
    padding-top:0;
}
    .photos {
        padding:0;
    }
}
/*.about{
    padding-left:2%;
   
}*/

fieldset {
    padding: 10px;
}



@media screen and (max-width: 500px) {

    .nav-main{
        font-size: 0.7em;
    }

    .content{
    font-size: 1em;
    }
  .new-arrivals {
        text-align:center;
        margin:auto;
        padding:0;
    }

    .purchase h3{
    padding-top:0;
}

}

/*When the browser window becomes smaller than 300px (the size of the logo image), the logo will not display*/

@media screen and (max-width: 300px) {
    .logo{
        display:none; 
        }

}



