* {
    margin: 0;
}

html{
    font-family: "Lucida Sans", sans-serif;
    margin:0;
    height:100%;
}


body {
    margin: 0px;
    padding: 0px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12pt;
    color: #000000;
}

p {
    margin-top:0.7em;
    font-size: 0.8em;
}

h1{
   margin-top:0.75em;
   margin-left: 0.5em;
}

h3 {
    font-size: 0.8em;
    margin-top:0.5em;
    margin-bottom:0.4em;
}

.bold{
    font-weight: bold;
}

.inline{
    display:inline;
}

.left{
    float:left;
}

.right{
    float:right;
}

.bg-index{
    background:#cfd0d4 url("img/bg.jpg") no-repeat center top;
}


.nav-main{
    /*position: absolute;*/
    top:1em;
    right: 1em;
    font-size:.9em;
    width:58.33%;
    color: #96063b;
    padding-left:3em;
    }

.nav-main ul li{
    display: inline-block;
    text-decoration: none;
    display: block;
    float: right;
    padding: 2em 0 1em .2em ;
    margin-right: .5%;

}

.nav-main ul li a
    {
        text-decoration: none;
        font-size: 1.2em;
        padding: 1em 1.5em;
        color: #FFF;
         transition: 0.5s;
    }
    
.nav-main li:hover a{
        
    color: #000000;
    text-decoration: none;
    transition: 0.5s;
    }


/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

.header-wrapper{
    overflow: hidden;
    height: 42em;
}

#header{
    /*position: relative;*/
    padding: 0.2em 0em;
    background: #96063b;
}

.photos{
    padding-top:2em;
}

#page{
    overflow: hidden;
    width: 80%;
    padding: 1.3em 100px 5em 100px;
    background: #FFF;
}

.container{
    overflow: hidden;
    margin: 0em auto;
    width:;
}

.content{
    font-family: 'Edwardian Script ITC';
    font-size: 1.3em;
    text-align:center;
    padding-right:1.25em;

}

.center {
width: 50%;
margin:0 auto;
text-align:center;
}

.new-arrivals{
    padding-top: 0;
    padding-bottom: 1rem;
    margin: 0 1em 0 1em;
    width: 100%;
    vertical-align: text-top;
    /*text-align:right;*/
}


.dress-description{
    text-decoration: none;
    color:gray;
    transition: 0.2s;
}

/*a:hover, a:active {
    background-color: red;
}*/
.dress-description a:hover, a:active {
transition: 0.5s;
}

.purchase{
    padding-top: .7em;
    padding-bottom: .5em;
    /*padding-right:1.85vw;*/
    margin:0 auto;
    text-align:center;
}

.purchase a {
    text-decoration: none;
    color: #ffffff;
    padding-bottom: 0.4em;
    font-size: 1.2vw;   
    background-color: #DD8D78;
    padding-top: 6px;
    padding-left:42px;
    padding-right: 39px;
    transition: 0.2s;

    
}

.purchase a:hover {
    transition: 0.5s;
    /*color: #000000;*/
    text-decoration: none;
    background-color: #F9B9AA;
    transition: 0.5s;

}

.purchase h3{
    padding-top: 15px;
}

.details{
    padding-top: 1em;
    padding-bottom: .5em;
    margin:0 auto;
    text-align:center;
}

.details a {
    text-decoration: none;
    color: #ffffff;
    padding-bottom: 0.4em;
    font-size: 1.2vw;   
    background-color: #C6AF6D;
    padding-top: 6px;
    padding-left:42px;
    padding-right: 39px;
    transition: 0.2s;
    
}

.details a:hover {
    transition: 0.5s;
    text-decoration: none;
    background-color: #EFD9A5;
    transition: 0.4s;

}
    
.clickable-image {
    opacity: 0.7;
    transition:opacity 0.3s;
    width: 320px;
}

.clickable-image:hover {
    opacity: 1;
    transition:opacity 0.5s;
}

#welcome
    {
        overflow: hidden;
        width: 80%;
        margin-top: 5em;
        padding: 2.3em 100px 3em 100px;
        background: #FFF;
    }

    
#welcome h2
{
    font-family: 'Edwardian Script ITC';
    padding-bottom: 0.5em;
    /*font-size: 2.5em;*/
    /*font-weight: 400;*/
}

 #logo
{*/
    top: 1em;
    padding-top:0.5em;
    padding-left: 1.5em
}
    
 
/*********************************************************************************/
/* Page Content                                                                  */
/*********************************************************************************/

/*------------------code to set up page for footer--------------------*/

.page-wrap {
    min-height: 100%;
    margin-bottom: -65px; 
}

.page-wrap:after {
  content: "";
  display: block;
}

.site-footer, .page-wrap:after {
    height: 65px; 
}

.site-footer {
    margin-top:8em;
    font-size:0.8em;
    padding:6px;
    background: #96063b;
    text-align:center;
}

.nav-footer{
    /*background-color: #96063b; */
  /*  padding: 0 1% 0 .3%;*/
    text-decoration: none;
    color: white;
    font-size:.9em;

}

.nav-footer ul li {
    display: inline-block;
    padding: .5em .5em .5em .5em ;
    margin-right: .05%;
}
.nav-footer  ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.2em;
    transition: 0.5s;
}
.nav-footer ul li a:hover {
    color: #000000;
    text-decoration: none;
    transition: 0.5s;
}

.footer-text{
    padding:0;
}

/*-----------------end of footer/page setup--------------*/



.spacer-symbol{
    max-width: 5em;
}

.divider-symbol{
    max-width: 10em;
}

.page-title-spacing{
    margin-top:2em;
}

.about-bg {
background-image: url("img/wedding-event-reception-space-sperry-tent-orange-flower-centerpieces-white-garden-chairs.jpg");
background-size: cover;
background-repeat: no-repeat;
background-position: center;
height: auto; 
}

.contact{
    padding-left: 10%;
}


.content-collection{
    font-family: 'Edwardian Script ITC';
    font-size: 1.3em;
    text-align:center;
    padding-right:1em;

}


.about {
    padding-left:0;
    padding-bottom:6.6em;
}


img {
    height:auto;
    max-width: 100%;
}

/*------------------ Product 1 --------*/

.product-page{
    max-width:1200px; 
    margin:0 auto; 
    padding:3em;
}

.product-title-margins{
    margin-bottom:2em;
}
.product-title {
    list-style-type: none; 
    padding-left:0;
}

.product-title-spacing{
    padding-bottom:1.2em;
}

.product-img{
    display: inline-block;
    text-align:center
    margin:1em;
}

.product-nav {
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 0.5rem;
    margin: 0rem 0.5rem;
    width: 85%;

}

#active {
    background: #498A47;
    color: white;
}
#active2 {
    background: white;
    color: black;
}

#inActive2 {
    background-color: black;
    color: white;
}

.description{
    vertical-align: top;
    text-align:left;
    padding-left:3em;

}

.product-comment-section{
    padding-top:3.2em;
}

.write-review {
    text-align: center; 
}

.write-review-form {
    width:80%; height:5em;
}

.review-submit-button{
    text-decoration: none;
    color: #ffffff;
    font-size: 1vw;   
    background-color: #C6AF6D;
    padding:1.1em .2em 1.1em .2em;
    transition: 0.2s;

}
.review-submit-button:hover {
    transition: 0.5s;
    text-decoration: none;
    background-color: #EFD9A5;
    transition: 0.4s;
}

.product-review-section{
    text-align: left; 
    padding-top:2em;
    padding-bottom:3em;
}

.product-review{
    margin: 0 auto;
    /*padding-bottom:1.5em;*/
}

        /*star rating css 
        from http://code.stephenmorley.org/html-and-css/star-rating-widget/*/


                .starRating:not(old){
                  display        : inline-block;
                  width          : 7.5em;
                  height         : 1.5em;
                  overflow       : hidden;
                  vertical-align : bottom;
                }

                .starRating:not(old) > input{
                  margin-right : -100%;
                  opacity      : 0;
                }

                .starRating:not(old) > label{
                  display         : block;
                  float           : right;
                  position        : relative;
                  background      : url('star-off.svg');
                  background-size : contain;
                }

                .starRating:not(old) > label:before{
                  content         : '';
                  display         : block;
                  width           : 1.5em;
                  height          : 1.5em;
                  background      : url('star-on.svg');
                  background-size : contain;
                  opacity         : 0;
                  transition      : opacity 0.2s linear;
                }

                .starRating:not(old) > label:hover:before,
                .starRating:not(old) > label:hover ~ label:before,
                .starRating:not(:hover) > :checked ~ label:before{
                  opacity : 1;
                }

        /*end of star rating display*/


/*----------------forms----------------*/

.form-3of10{
    width:29%;
}

.form-5of10{
    width:49.5%;
}

.form-7of10{
    width:70%;
}

.form-10of10{
    width:100%;
}
 