* {
    margin: 0;
}

html, body {
    font-family: "Lucida Sans", sans-serif;
    margin:0;
    height:100%;
}

p {
    margin-top:0.7em;
    font-size: 0.8em;
}

h3 {
    font-size: 0.8em;
    margin-top:0.5em;
    margin-bottom:0.4em;
}

.about-bg {
    background-image: url("img/wedding-event-reception-space-sperry-tent-orange-flower-centerpieces-white-garden-chairs.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
}

.center {
    width: 50%;
    margin:0 auto;
}

.header {
    /*background-color: #ADD8E6; /*light blue */*/
    color: #ffffff;
    margin:1em auto; 
    max-width:5em;
    /*padding: 15px;*/
}

.logo {
    max-width: 11em; 
    padding-top: 0.3em;
}

.menu ul {
    /*list-style-type: none;*/
    margin: 0;
    padding: 0;
}

.menu li {
    /*padding: 8px;*/
    margin-bottom: 7px;
    background-color :#33b5e5;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.menu li:hover {
    background-color: #0099cc;
}

.nav-main{
	background-color: #ADD8E6; /*light blue */
    background-image: url("img/seigaiha2.png");
  /*  padding: 0 1% 0 .3%;*/
    text-decoration: none;
    color: white;
    font-size:.9em;

}

.nav-main ul li {
    display: inline-block;
    padding: .5em 2.3% .5em .5em ;
    margin-right: .05%;
}
.nav-main  ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.2em;
    transition:background-color 0.5s;
}
.nav-main  ul li a:hover {
    color: #000000;
    text-decoration: none;
    transition:background-color 0.5s;
}


.purchase{
  	padding-top: 1em;
  	padding-bottom: 2em;
    padding-right:1.85vw;
 	margin:0 auto;
    text-align:right;
}

.purchase a {
    text-decoration: none;
    color: #ffffff;
    padding-bottom: 0.4em;
    font-size: 1.2vw;   
    background-color: #DD8D78;
    /*background-image: url("img/subtle_white_feathers.png");*/
  
    padding-top: 6px;
    padding-left:42px;
    padding-right: 39px;
    transition: 0.2s;
    
}
.purchase a:hover {
    transition: 0.5s;
    /*color: #000000;*/
    text-decoration: none;
    background-color: #F9B9AA;
    transition: 0.5s;

}

.purchase h3{
    padding-top: 15px;
}

.content{
    font-family: 'Edwardian Script ITC';
    font-size: 1.3em;
    text-align:center;
    padding-right:1.25em;

}


.content-collection{
    font-family: 'Edwardian Script ITC';
    font-size: 1.3em;
    text-align:center;
    padding-right:1em;

}


img {
    height:auto;
    max-width: 90%;
}

.clickable-image {
    opacity: 0.7;
    transition:opacity 0.2s;
}

.clickable-image:hover {
    opacity: 1;
    transition:opacity 0.3s;
}

.photos{
	padding-left: 19%;
    
}

.about {
    padding-left:0;
}

.new-arrivals{
	padding-top: 0;
    padding-bottom: 1rem;
	padding-right: 1.4rem;
	width: 100%;
    vertical-align: text-top;
    /*text-align:right;*/
}

.left{
    float:left;
}



.page-wrap {
    min-height: 100%;
    margin-bottom: -65px; 
}

.page-wrap:after {
  content: "";
  display: block;
}

.site-footer, .page-wrap:after {
    height: 65px; 
}


.site-footer {
    font-size:0.8em;
    padding:6px;
    background: #ADD8E6;
    text-align:center;
    background-image: url("img/seigaiha2.png");
}

