html, body {
    font-family: "Lucida Sans", sans-serif;
    margin:0;
    height:100%;
}

.center {
    width:50%;
    margin:0 auto;
}

.header {
    /*background-color: #ADD8E6; /*light blue */*/
    color: #ffffff;
    margin:1em auto; 
    max-width:5.5em;
    /*padding: 15px;*/
}

.logo {
    max-width: 13em; 
    padding-top: 0.3em;
}

.menu ul {
    /*list-style-type: none;*/
    margin: 0;
    padding: 0;
}

.menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color :#33b5e5;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.menu li:hover {
    background-color: #0099cc;
}


.nav-main{
	background-color: #ADD8E6; /*light blue */
    /*padding: 0 1.5% 0 .5%;*/
    text-decoration: none;
    color: white;

}

.nav-main ul li {
    display: inline-block;
    padding: .5em 2.3% .5em .5em ;
}
.nav-main  ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.2em;
    transition: 0.5s;
}
.nav-main  ul li a:hover {
    color: #000000;
    text-decoration: none;
    transition: 0.5s;
}


.purchase{
  	padding-top: 1em;
  	padding-bottom: 2em;
 	padding-left: 18%;
}

.purchase a {
    text-decoration: none;
    color: #ffffff;
    padding-bottom: 10px;
    font-size: 1em;   
    background-color: #DD8D78;
  
    padding-top: 6px;
    padding-left:42px;
    padding-right: 39px;
    transition: 0.5s;
    
}
.purchase a:hover {
    transition: 0.5s;
    /*color: #000000;*/
    text-decoration: none;
    background-color: #F9B9AA;
    transition: 0.5s;

}

.content{
    font-family: 'Edwardian Script ITC';
    font-size: 1.3em;
    text-align:center;
    padding-right:1.25em;

}


img {
	height:auto;
	max-width: 90%;
}


.photos{
	padding-left: 19%;
}

.new-arrivals{
	padding-top: 0;
	padding-left: 1rem;
	width: 100%;
}


@media screen and (max-width: 768px) {
/*    .nav-main{
        font-size: 2.3vw;
    }*/
/*    .content{
        font-size: 3vw;    
        margin:10vw;
    }*/
}

@media screen and (max-width: 500px) {
    .nav-main{
        font-size: 0.8em;
    }
    .content{
    font-size: 1em;
    }
    .logo{
        display:none;
    }
}

