*, *:after, *:before {
	box-sizing: border-box;
}

.grid-logbuttonswrapper {
	width: 25%;
	float: right;
}

[class^='grid-col-'] {
	float: left;
	padding: 0;
}

.grid-row:after {
	content:"";
	display: block;
	clear: both;
}

.grid-col-1of4 > .nav-main-item {
	width: 100%;
}

.grid-col-1of2 > .nav-main-item {
	width: 100%;
}

.grid-col-1of4 > .nav-product-item {
	width: 80%;
}

.grid-col-1of2 {
	width:50%;
}
.grid-col-2of3 {
	width:66.66%;
}

.grid-col-1of3 {
	width: 33.333%;
	padding-left: 1rem;
}

.grid-col-1of4 {
	width: 25%;
}


.grid-col-1of12 {
	width:8.33%;
}

.grid-col-2of12 {
	width:16.66%;
}

.grid-col-3of12 {
	width:25%;
}

.grid-col-4of12 {
	width:33.33%;
}

.grid-col-5of12 {
	width:41.66%;
}

.grid-col-6of12 {
	width:50%;
}

.grid-col-7of12 {
	width:58.33%;
}

.grid-col-8of12 {
	width:66.66%;
}

.grid-col-9of12 {
	width:75%;
}

.grid-col-10of12 {
	width:83.33%;
}

.grid-col-11of12 {
	width:91.66%;
}

.grid-col-12of12 {
	width:100%;
}

